.back-button {
	z-index: 100;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header-icon{
  height: 32px;
  width: 32px;
  margin-right: 12px;
  float: right;
}

h1{
  margin-left: 20px;
}
