<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <img
      class="header-icon right"
      src="../../../assets/icon/shopping-bag.png"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="../../../assets/images/anillo1.png" width="148px" height="148px">
    <ion-grid style="float:left;">
      <ion-row>
        <ion-col>
          <p>Collar dragón plateado</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>250.99 €</p>
      </ion-row>
      <ion-row>
        <ion-button color="dark">
          -
    </ion-button>
    <p style="border:1px solid gray;">1</p>
    <ion-button color="dark">
          +
    </ion-button>
      </ion-row>
    </ion-grid>
    
  </ion-item>
<ion-item>
  <img src="../../../assets/images/collar.png" width="148px" height="148px">
  <ion-grid style="float:left;">
    <ion-row>
      <ion-col>
        <p>Collar dorado like oreo</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <p>250.99 €</p>
    </ion-row>
    <ion-row>
      <ion-button color="dark">
        -
  </ion-button>
  <p style="border:1px solid gray;">1</p>
  <ion-button color="dark">
        +
  </ion-button>
    </ion-row>
  </ion-grid>
  
</ion-item>

<h1>
  Precio total: 350€
</h1>
<ion-button expand="full" color="dark">Añadir</ion-button>
</ion-content>
