<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <img
      class="header-icon right"
      src="../../../assets/icon/shopping-bag.png"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngFor="let order of orderlist; let i = index">
  <ion-item>
    
    <ion-img style="width: 148px; height: 148px;" [src]="order.product?.url"></ion-img>
    
    <ion-grid style="float:left;">
      <ion-row>
        <ion-col>
          <p>{{order.product?.name}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>{{order.product?.price}} €</p>
      </ion-row>
      <ion-row>
        <ion-button color="dark">
          -
    </ion-button>
    <p style="border:1px solid gray;">{{order?.amount}}</p>
    <ion-button color="dark">
          +
    </ion-button>
      </ion-row>
    </ion-grid>
    
  </ion-item>
</div>

<h1>
  {{this?.precio}}
</h1>
<ion-button expand="full" color="dark">Añadir</ion-button>
</ion-content>
