<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">CLOSE</ion-button>
      
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <diV class="container">
  <form [formGroup]="formUpdateClient" >
    <ion-item>
        <ion-label color="dark" position="floating">Nombre</ion-label>
        <ion-input value="{{this.client?.name}}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Apellidos</ion-label>
        <ion-input value="{{this.client?.surname}}" formControlName="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Email</ion-label>
        <ion-input value="{{this.client?.email}}" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Telefono</ion-label>
        <ion-input value="{{this.client?.phonenumber}}" formControlName="phonenumber"></ion-input>
      </ion-item>

    </form>
    </diV>
    <ion-button expand="full" color="dark">Continuar</ion-button>
</ion-content>