<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>
    <ion-icon (click)="goToShoppingCart()" class="cart" slot="end" name="cart-outline"></ion-icon>
    <ion-badge class="badge-color">{{this?.badge}}</ion-badge>
  </ion-toolbar>
</ion-header>
<app-swiperc></app-swiperc>
<ion-content>
<div>
  <ion-img [src]="this.product?.url"></ion-img>
<ion-grid>
  <ion-row>
<ion-col  size = "9">
  <p>{{this.product?.name}}</p>
</ion-col>
<ion-col  size="2.3">
  <p >{{this.product?.price}} €</p>
</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-chip *ngIf="this.product?.stock >0" color="success">
        <ion-label>En stock</ion-label>
      </ion-chip>
      <ion-chip *ngIf="this.product?.stock <=0" color="danger">
        <ion-label>No disponible</ion-label>
      </ion-chip>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="rest()" color="dark"><ion-icon name="remove-outline"></ion-icon></ion-button> <div style="display: inline; padding-left: 15px; vertical-align: sub;">{{this?.amount}}</div> <ion-button (click)="sum()" class="button-icon" color="dark"><ion-icon name="add-outline"></ion-icon></ion-button></ion-col>
      </ion-row>
</ion-grid>
</div>
<ion-button *ngIf="this.product?.stock >0 && this.client" expand="full" color="dark" (click)="addProductToOrder()">Añadir</ion-button>
<ion-button disabled *ngIf="this.product?.stock <=0 && this.client" expand="full" color="dark">Añadir</ion-button>
<ion-button *ngIf="!this.client">Inicia sesion crack</ion-button>
</ion-content>
