<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <div *ngFor="let product of productlist; let i = index" >


    <ion-card>
      <ion-icon class="save-icon" name="bookmark-outline"></ion-icon>
     <ion-img [src]="">  </ion-img>
     
    
      <ion-card-content>
        <p>{{product.name}}</p>
        {{product.price}}
       <ion-button expand="full" (click)="goToProduct(product)">Añadir</ion-button>
      </ion-card-content>
    </ion-card>
</div>

</ion-list>
<ion-button (click)="getImgByProductId(1)"></ion-button>
</ion-content>
