<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="this.client" defaultHref="welcome"></ion-back-button>
      <ion-back-button *ngIf="!this.client" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-icon (click)="goToShoppingCart()" class="cart" slot="end" name="cart-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment (ionChange)="segmentChanged($event)" value="todos" #segment color="dark">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anillos">
      <ion-label>Anillos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="collares">
      <ion-label>Collares</ion-label>
    </ion-segment-button>
  </ion-segment>
<ion-list>
  <div *ngFor="let product of productlist; let i = index" >
    <ion-card>
      
          <ion-img style="width:100% ;" [src]="product.url"></ion-img>
      <ion-icon class="save-icon" name="bookmark-outline"></ion-icon>

     
    
      <ion-card-content>
        <p>{{product.name}}</p>
        {{product.price}}
       <ion-button expand="full" (click)="goToProduct(product)">Detalles</ion-button>
      </ion-card-content>
    </ion-card>
</div>

</ion-list>
</ion-content>
