ion-card-content{
background-color:#E8F6F3;
height: 100%;
margin-top: -10px;
text-align: center;


}

.back-button {
	z-index: 100;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-card{
  width: 40%;
  float: left !important;
  margin-left: 5%;
  margin-right: 5%;
}

ion-button{
  --background: transparentize(100);
  color:black;
}

.background{
  --background:#FDF2E9;
}

.img-container{
  background-color: white;
  width: 40%;
  border: 1px solid #E8F6F3;
}

p{
 color: black;
}

.container-div{
  margin-left: 20px;
}

.save-icon{
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 75%;
  margin-top: 5%;

}

ion-img{
  height: 150px;
  width: 150px;
}


.cart{
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.badge-color{
  --background:#F09131;
  position: absolute;
  top: 7px;
  right: 8px;
  border-radius: 100%;
}

ion-content{
  --background:white
}

ion-card{
  height: 300px;
}

.content{
  height: 75px;
}