<ion-header>
  <ion-toolbar class="background-color">
    <ion-title>Aurora</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="end" (click)="goToProducts()">
    <img
      class="header-icon right"
      src="../../../assets/icon/shopping-bag.png"
    />
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3>Datos de usuario</h3>
  <div class="border-container">
    <ion-grid>
      <ion-row>
        <ion-col size="5"  offset="0.4">
          <p class="label">Nombre</p>
        </ion-col>
        
        <ion-col>
          <p>{{this.client?.name}}</p>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col size="5"  offset="0.4">
          <p class="label">Apellidos</p>
        </ion-col>
        
        <ion-col>
          <p>{{this.client?.surname}}</p>
        </ion-col>
      
      </ion-row>

      <ion-row>
        <ion-col size="5" offset="0.4">
          <p class="label">Email</p>
        </ion-col>
        
        <ion-col>
          <p>{{this.client?.email}}</p>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col size="5"  offset="0.4">
          <p class="label">Telefono</p>
        </ion-col>
        
        <ion-col>
          <p>{{this.client?.phonenumber}}</p>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col size="5"  offset="0.4">
          <p class="label">Saldo</p>
        </ion-col>
        
        <ion-col>
          <p>{{this.formatbalance}} </p>
        </ion-col>
      
      </ion-row>
      <ion-row>
        <ion-col size="5" offset="0.4">
        <p class="label">Contraseña</p>
        </ion-col>
        
        <ion-col>
        <p>***********</p>
        </ion-col>
      
      </ion-row>
      </ion-grid>
    <ion-button color="light" expand="full" (click)="goToEditAccount()">Editar datos</ion-button>
  </div>
</ion-content>
